<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   UserModel.plist
   01-KVO

   Created by XFB on 2020/3/26.
   Copyright (c) 2020 XFB. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
